@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>My Scripture Site Site</title>
    <link href="~/Styles/Scripture.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>My Scripture Note Site</h1>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            &copy; @DateTime.Now.Year My Scripture Note Site
        </div>
    </div>
</body>
</html>
